.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.app:focus {
  outline: 2px dotted mediumpurple;
}
