.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  overflow: auto;
}

.resizeable {
  resize: both;
  max-width: 100vw;
  max-height: 100vh;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: grab;
  background-color: mediumpurple;
  padding: 4px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.1rem;
}

.titleText {
  flex: 1;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
}

.xSign {
  font-size: 15px;
  display: block;
  rotate: 45deg;
}
