.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  overflow: hidden;
}

.resizeable {
  resize: both;
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  flex: 1;
  min-height: 0;
}

.title {
  height: var(--app-window-title-bar-height);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: grab;
  background-color: silver;
  padding: 4px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  flex-shrink: 0;
}

.titleText {
  flex: 1;
}

.titleActive {
  background-color: mediumpurple;
}

.clickGuard {
  position: absolute;
  top: var(--app-window-title-bar-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
}

.xSign {
  font-size: 15px;
  display: block;
  rotate: 45deg;
}
