:root {
  --border-color-one: #000;
  --border-color-two: #9c9c9c;
  --menu-bar-height: 25px;
  --primary-color: #662d91;
  --secondary-color: #f1f1f1;
  --third-color: #ccd1d3;
  --menu-bar-background: #ccd1d3;
  --input-color: #fff;
  --border-radius: 3px;
  --base-font-size: 12px;
  --app-window-title-bar-height: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--base-font-size);
  overscroll-behavior: none;
}

body {
  background-image: url('../public/bg.png');
  background-color: #6261a1;
  user-select: none;
  font-family: Menlo, Chicago, Geneva, sans-serif;
  overscroll-behavior: none;
}

#root {
  display: grid;
  grid-template-rows: var(--menu-bar-height) 1fr;
}

#youtube-player {
  width: 100%;
  height: 100%;
}

input,
button {
  font-family: inherit;
}
