{
  "extends": "airbnb",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/no-unresolved": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "react/destructuring-assignment": "off"
  }
}
