.menuBar {
  font-size: 16px;
  background-color: var(--menu-bar-background);
  line-height: calc(var(--menu-bar-height) - 1px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-one);
  width: 100%;
  white-space: nowrap;
}

.rightSection,
.leftSection {
  display: flex;
  gap: 0;
  align-items: center;
  padding: 0;
}

.leftSection {
  flex-shrink: 0;
}

.rightSection {
  gap: 8px;
  padding: 0 8px;
  flex-shrink: 1;
  overflow: hidden;
  min-width: 0;
}

.collapsible {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  flex-shrink: 1;
  min-width: 0;
}

.appLabel {
  padding: 0 8px;
  white-space: nowrap;
}

.verticalDivider {
  border-color: var(--border-color-one);
  border-width: 1px;
  border-left: 0;
  height: 100%;
}

@media (max-width: 800px) {
  .collapsible {
    display: none;
  }
}
