.container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.measurer {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.scrollingText {
  display: inline-block;
  animation: marquee var(--marquee-duration) linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
