.button {
  width: max-content;
  cursor: pointer;
  font-size: 1.2rem;
}

.button:disabled {
  cursor: default;
  color: var(--third-color);
}

.primary {
  padding: 10px;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.secondary {
  padding: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color-one);
  border-radius: var(--border-radius);
}

.underlined {
  padding: 10px 5px 6px 5px;
  border: none;
  border-bottom: 1px solid var(--border-color-one);
}

.withIcon {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color-two);
  border-radius: var(--border-radius);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withIcon:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: -1px;
  font-weight: inherit;
}

.withIcon:disabled > img {
  filter: opacity(0.5);
}

.withIcon:focus {
  border-color: var(--border-color-one);
}

.withIcon.grouped:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

.withIcon.grouped:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.withIcon.grouped:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.withIcon:hover:not(:disabled) {
  border-color: var(--border-color-one);
}

.fullWidth {
  width: 100%;
}

.primary:hover:not(:disabled),
.secondary:hover:not(:disabled) {
  font-weight: bold;
}

.underlined:hover:not(:disabled),
.underlined:focus {
  padding-bottom: 5px;
  border-width: 2px;
}

.button:focus {
  outline: none;
}

.primary:focus,
.secondary:focus {
  font-weight: bold;
}
