.button {
  width: max-content;
  padding: 10px;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
}

.primary {
  margin: 8px 0;
  width: 100%;
}

.button:hover {
  font-weight: bold;
}

.button:focus {
  outline: none;
  font-weight: bold;
}
