html {
  color: white;
  font-family: 'Gugi', sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 black;
}

body {
  padding: 0;
  margin: 0;
  background: #080808;
  overflow: hidden;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid red;*/
}

.status-container {
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 453px);
  /*border: 1px solid yellow;*/
  background: rgba(255, 255, 0, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  justify-content: flex-start;

  color: #bf00bf;
  font-family: "Faster One", sans-serif;
  font-size: 49px;
  font-weight: normal;
  letter-spacing: 4px;
  text-shadow: 2px 2px 0 white;

}

.header-container {
  position: absolute;
  top: -200px;
  left: -150px;
  height: 300px;
  width: 700px;
  box-sizing: border-box;
  /*border: 1px solid yellow;*/
  background: rgba(255, 255, 0, 0.5);
  transform: rotate(-30deg);
  padding: 160px 120px;
  /* z-index: 11; */
}

.header {
  transform: rotate(30deg);
  border: 1px solid white;

  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue-container {
  /*border: 1px solid greenyellow;*/
  /*background: rgba(255, 255, 0, 0.22);*/
  position: absolute;
  height: 100%;
  width: 450px;
  /* z-index: 4; */
  overflow: hidden;
}

.queue-container.queue-container-second {
  transform: rotate(-90deg);
  bottom: 0;
  right: 0;
}

.queue-container.queue-container-second .queue-item {
  transform: rotate(60deg);
  height: 100px;
  margin-top: 75px;
}

.queue {
  position: absolute;
  width: calc(100% + 170px);
  left: -70px;
  margin: 0;
  list-style: none;
  padding: 0;
  top: 132px;
  height: calc(100% - 270px);
}

.queue-item {
  height: calc((100%) / 9);
  width: 100%;
  /*border: 1px solid deepskyblue;*/
  background: rgba(0, 191, 255, 0.5);
  transform: rotate(-30deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  box-sizing: border-box;
  text-align: left;
}

.dashboard-container {
  /*border: 1px solid yellow;*/
  /*background: rgba(255, 255, 0, 0.22);*/
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200%;
  height: 266px;
  overflow: hidden;
}

.dashboard-container .queue {
  width: 100%;
  left: 368px;
  top: 56px;
  height: 100%;
}

.dashboard-container .queue .queue-item {
  /*height: 100px;*/
  height: calc((399%) / 9);
  text-align: left;
  align-items: center;
  justify-content: flex-start;

}

.dashboard-container .queue .queue-item:nth-child(1) {
  padding-left: 43.8%;
}

.dashboard-container .queue .queue-item:nth-child(2) {
  padding-left: 49.9%;
}

.dashboard-container .queue .queue-item:nth-child(3) {
  padding-left: 56.2%;
}

.dashboard-container .queue .queue-item:nth-child(4) {
  padding-left: 62.3%;
}

.dashboard-container .queue .queue-item:nth-child(5) {
  padding-left: 68.5%;
}

.dashboard-container .queue .queue-item:nth-child(6) {
  padding-left: 74.5%;
}

.dashboard-container .queue .queue-item:nth-child(7) {
  padding-left: 80.6%;
}

.dashboard-container .queue .queue-item:nth-child(8) {
  padding-left: 86.7%;
}

.footer-container {
  position: absolute;
  bottom: -299px;
  right: -150px;
  height: 300px;
  width: 700px;
  box-sizing: border-box;
  /*border: 1px solid yellow;*/
  background: rgba(255, 255, 0, 0.5);
  transform: rotate(-30deg);
  padding: 160px 120px;
  overflow: hidden;
  /* z-index: 1; */
}

.footer {
  font-family: 'Papyrus', sans-serif;
  position: absolute;
  top: 42px;
  left: 463px;
  transform: rotate(30deg);
  /*border: 1px solid white;*/
  width: 142px;
  height: 40px;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.player-container {
  /*border: 1px solid magenta;*/
  background: rgba(255, 0, 255, 0.5);
  position: absolute;
  top: 102px;
  right: 0;
  width: calc(100% - 453px);
  height: calc(100% - 370px);
}

.dimmed {
  opacity: 0.5;
  color: #464646;
}

.logo-container {
  position: absolute;
  top: 189px;
  left: 102px;
  height: 150px;
  padding: 10px;
  text-align: center;
  transform: rotate(20deg);
  background-color: transparent;
  /*background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%);*/
  animation: containerSize 0.7s ease-in-out infinite alternate;
  border-radius: 8px;
}

.logo-container .logo-text {
  margin: 20px 0 20px 0;
  transition: all 0.5s;
  font-size: 50px;
  color: rgba(255, 0, 255, 0.3);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Pacifico', cursive;
  animation: neon 0.7s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 50px #f2f8ff, 0 0 60px #00bfff, 0 0 90px #D4FF00, 0 0 100px #D4FF00, 0 0 120px #D4FF00, 0 0 170px #2B00FF;
  }

  to {
    text-shadow: 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fa27ff, 0 0 55px #D4FF00, 0 0 60px #D4FF00, 0 0 70px #2B00FF, 0 0 95px #2B00FF;
    font-size: 60px;
  }
}

@keyframes containerSize {
  from {
    width: 325px;
  }

  to {
    width: 385px;
  }
}

iframe {
  height: 100%;
  width: 100%;
}
