html {
  color: white;
  font-family: 'Gugi', sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 black;
}

body {
  padding: 0;
  margin: 0;
  background: #080808;
  overflow: hidden;
  font-family: sans-serif;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.status-container {
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 453px);
  background: rgba(255, 255, 0, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  justify-content: flex-start;

  color: #bf00bf;
  font-family: "Faster One", sans-serif;
  font-size: 49px;
  font-weight: normal;
  letter-spacing: 4px;
  text-shadow: 2px 2px 0 white;

}

.header-container {
  position: absolute;
  top: -200px;
  left: -150px;
  height: 300px;
  width: 700px;
  box-sizing: border-box;
  background: rgba(255, 255, 0, 0.5);
  transform: rotate(-30deg);
  padding: 160px 120px;
  z-index: 11;
}

.header {
  transform: rotate(30deg);
  border: 1px solid white;

  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue-container {
  position: absolute;
  height: 100%;
  width: 450px;
  z-index: 4;
  overflow: hidden;
}

.queue-container.queue-container-second {
  transform: rotate(-90deg);
  bottom: 0;
  right: 0;
}

.queue-container.queue-container-second .queue-item {
  transform: rotate(60deg);
  height: 100px;
  margin-top: 75px;
}

.queue {
  position: absolute;
  width: calc(100% + 170px);
  left: -70px;
  margin: 0;
  list-style: none;
  padding: 0;
  top: 132px;
  height: calc(100% - 270px);
}

.queue-item {
  height: calc((100%) / 9);
  width: 100%;
  background: rgba(0, 191, 255, 0.5);
  transform: rotate(-30deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  box-sizing: border-box;
  text-align: left;
}

.dashboard-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200%;
  height: 266px;
  overflow: hidden;
}

.dashboard-container .queue {
  width: 100%;
  left: 368px;
  top: 56px;
  height: 100%;
}

.dashboard-container .queue .queue-item {
  height: calc((399%) / 9);
  text-align: left;
  align-items: center;
  justify-content: flex-start;

}

.dashboard-container .queue .queue-item:nth-child(1) { padding-left: 43.8%; }
.dashboard-container .queue .queue-item:nth-child(2) { padding-left: 49.9%; }
.dashboard-container .queue .queue-item:nth-child(3) { padding-left: 56.2%; }
.dashboard-container .queue .queue-item:nth-child(4) { padding-left: 62.3%; }
.dashboard-container .queue .queue-item:nth-child(5) { padding-left: 68.5%; }
.dashboard-container .queue .queue-item:nth-child(6) { padding-left: 74.5%; }
.dashboard-container .queue .queue-item:nth-child(7) { padding-left: 80.6%; }
.dashboard-container .queue .queue-item:nth-child(8) { padding-left: 86.7%; }

.footer-container {
  position: absolute;
  bottom: -299px;
  right: -150px;
  height: 300px;
  width: 700px;
  box-sizing: border-box;
  background: rgba(255, 255, 0, 0.5);
  transform: rotate(-30deg);
  padding: 160px 120px;
  overflow: hidden;
  z-index: 1;
}

.footer {
  font-family: 'Papyrus', sans-serif;
  position: absolute;
  top: 42px;
  left: 463px;
  transform: rotate(30deg);
  width: 142px;
  height: 40px;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.player-container {
  background: rgba(255, 0, 255, 0.5);
  position: absolute;
  top: 102px;
  right: 0;
  width: calc(100% - 453px);
  height: calc(100% - 370px);
}

.dimmed {
  opacity: 0.5;
  color: #464646;
}

.logo-container {
  position: absolute;
  top: 189px;
  left: 102px;
  height: 150px;
  padding: 10px;
  text-align: center;
  transform: rotate(20deg);
  background-color: transparent;
  animation: containerSize 0.7s ease-in-out infinite alternate;
  border-radius: 8px;
}

.logo-container .logo-text {
  margin: 20px 0 20px 0;
  transition: all 0.5s;
  font-size: 50px;
  color: #f895f2;
  opacity: 0.87;
  font-family: 'Pacifico', cursive;
  transform-origin: top left;
  animation: neon 0.7s ease-in-out infinite alternate;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 12px #f2f8ff, 0 0 20px #00bfff, 0 0 0px #D4FF00, 0 0 0px #D4FF00, 0 0 0px #D4FF00, 0 0 0px #2B00FF;
  will-change: transform;
}

@keyframes neon {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

iframe {
  height: 100%;
  width: 100%;
}
