@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sound-board-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 100px);
  background-color: rgba(52, 211, 153, 1);
  transform: translateX(100%);
  transition:
    transform .3s ease-in-out,
    background-color .3s ease-in-out;
}

.sound-board-layer.expanded {
  background-color: rgba(26, 93, 68, .85);
  transform: translateX(0);
}

.sound-board-layer:not(.expanded) {
  transition:
    transform .1s ease-in,
    background-color .3s ease-in-out;
}

.sound-board-layer:hover:not(.expanded) {
  transform: translateX(calc(100% - 5px));
}

.sound-board-layer-button {
  position: absolute;
  padding: 1rem;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: inherit;
}
