.buttonIcon {
  background: none;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.icon {
  width: 16px;
  height: 16px;
}
