.window {
  position: absolute;
  width: 500px;
  height: 500px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: move;
  background-color: mediumpurple;
}

.content {
  padding: 5px;
  height: 450px;
  background-color: #f1f1f1;
  opacity: 0.9;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  background-color: rebeccapurple;
}
