.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 240px;
  width: max-content;
  height: max-content;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  overflow: auto;
}

.resizeable {
  resize: both;
}

.title {
  position: relative;
  display: flex;
  cursor: grab;
  justify-content: space-between;
  background-color: mediumpurple;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.content {
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
}

.xSign {
  font-size: 15px;
  display: block;
  rotate: 45deg;
}
