.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 240px;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
  resize: both;
  overflow: auto;
}

.title {
  position: relative;
  display: flex;
  cursor: grab;
  justify-content: space-between;
  background-color: mediumpurple;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.content {
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  background-color: rebeccapurple;
}
