.yearly-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  background-color: white;
}

.summary-view {
  display: flex;
  flex-direction: column;
}

.yearly-summary-tables-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.yearly-summary-table, .yearly-summary-th, .yearly-summary-td {
  border: 1px solid black;
  border-collapse: collapse;
}
