.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabBar {
  display: flex;
  padding: 0 8px;
  gap: 2px;
  position: relative;
  bottom: -2px;
}

.tab {
  padding: 4px 16px;
  cursor: pointer;
  background-color: var(--third-color);
  border: 2px solid var(--border-color-two);
  border-bottom: 2px solid var(--border-color-two);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-family: inherit;
  font-size: 1rem;
  position: relative;
  top: 4px;
  z-index: 0;
}

.tab:hover:not(.activeTab) {
  background-color: var(--secondary-color);
}

.activeTab {
  background-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  top: 0;
  padding: 6px 16px 10px;
  font-weight: bold;
  z-index: 2;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--border-color-two);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.panelContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.panelFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid var(--border-color-two);
}
