.container {
  padding: 64px 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.form > input {
  margin: 0;
}

.heading {
  margin: 0;
}

.spinnerText::after {
  content: '...';
  display: inline-block;
  width: 0;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
  to {
    width: 1.5ch;
  }
}
