.button {
  width: max-content;
  height: max-content;
  padding: 10px;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
}

.primary {
  margin: 8px 0;
  width: 100%;
}

.button:hover {
  font-weight: bold;
}

.button:focus {
  outline: none;
  font-weight: bold;
}

.withIcon {
  border: 1px solid var(--border-color-two);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withIcon:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: -1px;
  font-weight: inherit;
}

.withIcon[data-placement="left"] {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.withIcon[data-placement="right"] {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.withIcon[data-placement="center"] {
  border-radius: 0;
}

.withIcon.grouped:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

.withIcon.grouped:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.withIcon.grouped:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


.withIcon:hover {
  border-color: var(--border-color-one);
}
