.buttonsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.controlButtons,
.titleRowButtons {
  display: flex;
}

.additionalButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.inputShort {
  width: 100px;
}

.buttonIcon {
  width: 16px;
  height: 16px;
}

.buttonIcon.reversed {
  transform: rotate(180deg);
}

@container (min-width: 700px) {
  .buttonsRow {
    justify-content: flex-start;
  }

  .additionalButtons,
  .searchForm {
    flex-direction: row-reverse;
  }
}
