.header {
  width: 100%;
  height: 12vh;
  background-color: rebeccapurple;
}

.header::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 12vh;
  background: linear-gradient(270deg,
      rebeccapurple -33.4%,
      rebeccapurple 6.07%,
      #ffffff 49.56%,
      rebeccapurple 82.59%,
      rebeccapurple 121.25%);
}

.main {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
}

.main *, .footer * {
  font-family: tahoma;
}

.mainLeft {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: end;
  padding-left: 20px;
  gap: 20px;
  color: #ffffff;
  font-size: 24px;
}

.mainLeftText {
  text-align: center;
}

.logo {
  width: 450px;
}

@media (width <=786px) {
  .windowsLogo {
    width: 150px;
  }
}

.mainRight {
  width: 50%;
  padding-right: 20px;
}

.user {
  display: flex;
  padding: 20px 10px;
  margin: 10px 0;
  gap: 10px;
  width: max-content;
  min-width: 450px;
  color: #ffffff;
}

.user:hover {
  cursor: pointer;
  background: rgb(98, 97, 161);
  background: linear-gradient(275deg, rgba(98, 97, 161, 1) 17%, rgba(102, 51, 153, 1) 74%);
  border-radius: 5px;
}

.user.selected {
  background:
    linear-gradient(275deg, rgba(98, 97, 161, 1) 17%, rgba(102, 51, 153, 1) 74%) padding-box,
    linear-gradient(to right, #ffffff 17%, #6261a1 74%) border-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
}

.user.selected .avatar {
  border: 2px solid #facc48;
}

.user.faded {
  opacity: 0.5;
}

.userContent {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 25px;
}

.username {
  text-transform: capitalize;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  position: absolute;
  align-items: end;
  top: 45px;
  z-index: 1;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  gap: 10px;
}

.input {
  height: 40px;
  width: 200px;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.submit {
  background-color: #23b221;
  box-shadow:
    inset 4px 2px 8px rgba(255, 255, 255, 0.6),
    inset -2px -3px 5px #267c08;
}

.submit img {
  position: absolute;
  top: 8px;
}

.hint {
  background-color: #2266F5;
  border: 1px solid #ffffff;
  box-shadow: inset 4px 2px 8px rgba(255, 255, 255, 0.6), inset -2px -3px 5px #0844C3;
}

.hint img {
  position: absolute;
  top: 5px;
}

.submit:hover {
  background-color: #23a221;
}

.hint:hover {
  background-color: #2256F5;
}

.avatar {
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.verticalLine {
  width: 2px;
  height: 80%;
  margin: 0 30px 0 40px;
  background: linear-gradient(180deg, #6261a1 0%, #ffffff 47.4%, #6261a1 98.96%);
}

@media (width <=786px) {
  .verticalLine {
    margin: 0 10px;
  }
}

.footer {
  width: 100%;
  height: 12vh;
  background-color: rebeccapurple;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: linear-gradient(270deg,
      rebeccapurple -33.4%,
      rebeccapurple 6.07%,
      #ff9933 49.56%,
      rebeccapurple 82.59%,
      rebeccapurple 121.25%);
}

.shutdownLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  cursor: pointer;
  font-weight: bold;
}

.shutdownBtn {
  color: #ffffff;
  width: 40px;
  height: 40px;
  background-color: #e55022;
  border: 1px solid #ffffff;
  box-shadow:
    inset 4px 2px 8px rgba(255, 255, 255, 0.6),
    inset -2px -3px 5px #aa2300;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.shutdownLabel:hover {
  text-decoration: underline;
}

.shutdownBtn:hover {
  background-color: red;
}

.footerText {
  text-align: center;
  padding-right: 30px;
}
