:root {
  --shown: 1,
}

.button {
  /*TODO uncomment this one below to see pills appearing out from 0*/
  /*transform: scale(var(--shown));*/
  transform: scale(calc(0.25 + (var(--shown) * 0.75)));
  transition: transform 0.5s cubic-bezier(.5,1,.75,1.25);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0, rgba(0, 0, 0, 0.15) 0 1px 2px 0;
}

/*.buttonVisible {*/
/*  animation: hoverOut 0.5s cubic-bezier(.35,.07,.2,.97) both;*/
/*}*/

.hoverOut {
  animation: hoverOut 0.5s cubic-bezier(.35,.07,.2,.97);
}

.buttonVisible:hover {
  animation: hoverIn 0.8s cubic-bezier(.35,.07,.2,.97) both;
}

.mouseDown {
  transform: scale(0.9);
}

@keyframes hoverIn {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes hoverOut {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
