.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  width: 500px;
  max-height: 550px;
  background-color: #f1f1f1;
  justify-content: center;
  gap: 10px;
}

.button {
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
}

.button:hover {
  background-color: mediumpurple;
  color: white;
}

.title {
  padding: 10px;
}

.search {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.noResults {
  text-align: center;
  padding: 10px;
}
